body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(4, 26, 36, 0.947);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    
}


main{
    margin-top: 60px;
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
}

.information-container{
    display: grid;
    grid-template: 1fr / 200px 200px;
    text-align: center;
}
.container-input{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    text-align: center;
}

.altura-input, .peso-input{
    height: 45px;
    font-size: 1rem;
    padding-left: 10px;
    width: 100%;

}
.btn{
    height: 60px;
    text-align: center;
    width: 106%;
    margin-top: 20px;
}

@media  screen and (max-width: 408px) {
    body{
        padding: 0;
        background-color: black;
        display: flex;
        align-items: start;
        justify-content: start;
        overflow-x: hidden;
        
    }
    main{
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: start;
        align-items: start;
        padding: 2%;
        border-radius: 0;
        height: 100vh;
        

    }

    p{
        width: 100%;
        
    }
    .information-container{
        grid-template: 1fr / 150px 150px;
        gap:10%;
        margin-left: 1%;
    }
    .container-input{
        width: 70%;

        
    }
}

@media  screen and (min-width: 412px) and (max-width: 598px) {

    body{
        padding: 0;
    }
    main{
        min-width: 360px;
        margin: 0;
        height: 100vh;
    }
    .btn{
        width: 104%;
    }
}