body{
    background-color: rgb(60, 60, 60);
    padding: 20px;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 5%;
}
.container{
    height: 500px;
    width: 80vw;
    max-width: 800px;
    background-color: antiquewhite;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 10px; 
    overflow: hidden;
}



@media screen and (max-width: 479px) {
    body{
        background-color: red;
    }
    .container{
        max-height: 500px;
        height: 30vh;
        width: 80vw;
  
    }
}

@media screen and (min-width: 479px) and (max-width:700px){
    .container{
        max-height: 500px;
        height: 50vh;
        width: 80vw;
    }
}

.posters-container{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    transition: all 1s;
    /* overflow: hidden; */
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.6);

}
.poster{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    transition: all .8s;

}
.poster:first-child{
    margin-left: -100%;
}

.btn{
    background-color: rgba(0, 0, 0, 0.501);
    color: white;
    z-index: 1;
    height: 100%;
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
}

.btn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
#avancar{
    border-top-right-radius: 9px;
    border-bottom-right-radius: 10px;
    
}

.btn:hover{
    cursor: pointer;
    background-color:  rgba(0, 0, 0, 0.672);
}

.btn>img{
    filter: invert();
    width: 50px;
    height: 50px;
}


#voltar{
   transform: rotate(180deg);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

